.grid-x.grid-padding-x
  %h4.text-center.cell= t 'message.new.title'
  .cell
    = form_with model: @message, multipart: true, local: true do |f|
      = f.hidden_field :body, id: 'bodyMessage'
      %trix-editor{input: 'bodyMessage'}
    
      #files-box
        %h6= icon 'paperclip', 'Allegati'
        #new-message-files.grid-x.grid-padding-x
        = link_to icon('plus', t('attachment.new.title')), '#', id: 'add-attachemnt'
    
      .text-center= f.button icon('envelope', 'Invia segnalazione'), class: 'success button'