#add_key.reveal.large{ data: {reveal: true}}
  .title-bar
    .title-bar-left
      %span.title-bar-title= icon('user-secret', 'Generazione chiave RSA')

  = form_with model: current_user, url: add_key_users_path, method: :post, local: true do |f|
    %h5.text-center Benvenuto #{current_user.label}, devi generare la tua chiave RSA
    = f.label :password, 'Inserisci la password'
    = f.password_field :password
    = f.label :password_confirmation, 'Conferma la password'
    = f.password_field :password_confirmation
    .text-center= f.button icon('check', 'Genera chiave'), confirm: 'Attenzione! confermi la tua password?', class: 'button'
  .callout.alert
    RSA e` una sistema di criptazione asimmetrica composto da due chiavi. La chiave publica puo` soltanto criptare i dati, la chiave privata invece puo` decriptarli.
    %br
    Ogni membro del comitato avra` una sua chiave RSA personale che verra` utilizzata per criptare i dati a lui destinati.
    %br
    Per impedire che le chiavi private vengano usate senza autorizzazione, vengono nuovamente criptate con il sistema AES, utilizzando la password che state inserendo come chiave di decriptazione.
    %br
    <strong>ATTENZIONE</strong> non e` possibile decriptare la chiave privata senza conoscere la password AES. Nel caso di perdita della password tutti i messaggi consegnati saranno irrecuperabili.