#logos.clearfix
  #logo1.text-left= link_to image_tag('logo1.jpg'), 'https://www.isprambiente.gov.it'
  #logo2.text-right= link_to image_tag('logo2.jpg'), 'https://www.isprambiente.gov.it'
%nav.top-bar
  .top-bar-left
    %ul#title.menu
      %li
        .hide-for-large.hide-on-print
        %button{ type: "button", data: {open: "offCanvas"}}= icon 'bars'
      %li= link_to t(:title), root_path
  .top-bar-right.show-for-large
    %ul.menu
      %li= content_tag :li, link_to( current_user.label, root_path)
      = content_tag :li, link_to(  icon('sign-out-alt'), destroy_user_session_path, method: :delete)