!!! 5
%html.no-js{lang: "it"}

  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %meta{ charset: "utf-8" }
    %meta{ :'http-equiv' => "x-ua-compatible", :'content' => "ie=edge"}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title
      = t 'name'
      = t 'title'
      = ":: " + @title unless @title.blank? 
    = favicon_link_tag 'favicon.ico'

  %body  
    #offCanvas.off-canvas.position-left{ data: {off_canvas: true}}= render 'menu'
    .off-canvas-content{data: {off_canvas_content: true}} 
      %header.grid-container.full
        = render('top_bar')
        = render('breadcrumbs')
      #content.grid-container
        #page= yield
      %footer= render 'footer'

    #myModal.reveal-modal{ data: {reveal: true}}
    = render 'add_key' if current_user.committee? && current_user.priv.blank?
    %section#alert
      = alert_box(flash[:alert], 'warning', fa: 'exclamation-triangle') if flash[:alert].present?
      = alert_box(flash[:notice], 'success') if flash[:notice].present?